<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="steveluxor.ragknowledgesystem.mapper.QaHistoryMapper">

    <insert id="insert" parameterType="steveluxor.ragknowledgesystem.entity.QaHistory" useGeneratedKeys="true" keyProperty="id">
        insert into qa_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="question != null">question,</if>
            <if test="answer != null">answer,</if>
            <if test="sources != null">sources,</if>
            <if test="createUser != null">create_user,</if>
            <if test="sessionId != null">session_id,</if>
            <if test="isAgg != null">is_agg,</if>
            create_time,
            update_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="question != null">#{question},</if>
            <if test="answer != null">#{answer},</if>
            <if test="sources != null">#{sources},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="sessionId != null">#{sessionId},</if>
            <if test="isAgg != null">#{isAgg},</if>
            #{createTime},
            #{updateTime},
        </trim>
    </insert>

    <select id="selectByUserId" resultType="steveluxor.ragknowledgesystem.entity.QaHistory">
        select * from qa_history where user_id = #{userId} order by create_time desc
    </select>

    <delete id="deleteById">
        delete from qa_history where id = #{id}
    </delete>

    <select id="selectBySessionId" resultType="steveluxor.ragknowledgesystem.entity.QaHistory">
        select *
        from qa_history
        where session_id = #{sessionId}
          and user_id = #{userId}
        order by create_time
    </select>

    <delete id="deleteBySessionId">
        delete from qa_history where session_id = #{sessionId} and user_id = #{userId}
    </delete>

    <delete id="deleteBatch">
        delete from qa_history
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        and user_id = #{userId}
    </delete>

    <delete id="deleteByUserId">
        delete from qa_history where user_id = #{userId}
    </delete>

</mapper>
