<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="steveluxor.ragknowledgesystem.mapper.UserMapper">
    <insert id="addUser" parameterType="steveluxor.ragknowledgesystem.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            phone,
            <if test="role != null">role,</if>
            create_time,
            update_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{phone},
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="email != null">#{email},</if>
            <if test="role != null">#{role},</if>
            #{createTime},
            #{updateTime},
        </trim>
    </insert>
    <update id="updateByPhone" parameterType="steveluxor.ragknowledgesystem.entity.User">
        update user
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="email != null">email = #{email},</if>
            <if test="role != null">role = #{role},</if>
            update_time = #{updateTime},
        </set>
        where phone = #{phone}
    </update>
    <select id="selectByPhone" resultType="steveluxor.ragknowledgesystem.entity.User">
        select * from user where phone = #{phone}
    </select>
</mapper>
